*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --float-title:#e53170;
}

.mt-3{
    margin-top: 3rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin: auto;
}

.page_title{
    color:var(--float-title);
    padding: 2rem;
    text-align: center;
}

.heading_p{
    text-align: center;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.card{
    background-color: #0f0e17;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% / 3 - 2rem);
    box-shadow: 5px 5px 10px grey;
}

img{
    height: 100px;
    float: left;
}

.information{
    float: left;
    padding: 1rem;
    font-size: 10px;
    text-align: left;
    color: white;
}

h2{
    margin-bottom: 0.75rem;
}
.occupation{
    font-size: 0.75rem;
}
.mail{
    text-decoration: none;
    color: aqua;
}


/*DEBUG*/

.debug{
    background-color: #e53170;
    border: 1px solid black;
    width: calc(100% / 3 - 3rem);
    float: left;
    margin-right: 1rem;
}